ol{margin:0;padding:0;list-style-type:none}

header {
  text-align: center;
  
    width: 100%;
  background:url() bottom center no-repeat;
  background-size:cover;
  display:flex;
  align-items:center;
  justify-content: center;
    margin-top: 90px;
}
  .affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

  .affix + .container-fluid {
    padding-top: 70px;
  }
.menu{
	width:100%;
	padding:0 16px;
	display:block;
	
	}

.menu > ol:first-child{
	width:100%;
	
	position:relative;
	flex-flow:row wrap;
	justify-content:center
	}

.menu-item{
	width:100px;
	position:relative;
	perspective:100%;
	cursor:pointer;
    
	}

.menu-item a{
	width:100%;
	padding:16px 0;
	display:block;
	position:relative;
	color:#fff;
	border-radius:4px;
	transition:all .5s ease;
	transform-style:preserve-3d;
    text-align: center;
    
	}

.menu-item a:before{
	width:100%;
	padding:16px 0;
	display:block;
	position:absolute;
	color:#000;
	border-radius:4px
	}

.menu > ol:first-child > .menu-item{display:block}





.menu > ol:first-child > .menu-item > a:before
	{background:#dba921;bottom:90%;transform:rotateX(-90deg) translate3d(0,0,75px)}

.menu > ol:first-child > .menu-item:nth-of-type(1) > a:before{content:"Home"}
.menu > ol:first-child > .menu-item:nth-of-type(2) > a:before{content:"Clubs"}
.menu > ol:first-child > .menu-item:nth-of-type(3) > a:before{content:"AboutUs"}
.menu > ol:first-child > .menu-item:nth-of-type(4) > a:before{content:"ContactUs"}


.menu > ol:first-child > .menu-item:nth-of-type(2) > a:after{
	content:"\0025BE";
	width:100%;
	padding:30px 0 0 0;
	top:0;
	display:block;
	position:absolute;
	color:#fff;
	font-size:20px;
	text-align:center
	}
.menu > ol:first-child > .menu-item:nth-of-type(3) > a:after{
	content:"\0025BE";
	width:100%;
	padding:30px 0 0 0;
	top:0;
	display:block;
	position:absolute;
	color:#fff;
	font-size:20px;
	text-align:center
	}
.menu > ol:first-child > .menu-item:hover > a{transform:rotateX(90deg)}



.sub-menu{
	background:#fff;
	width:100%;
	top:51px;
	display:none;
	position:absolute;
	z-index:99;
	border-top:1px solid #fff
	}

.sub-menu > .menu-item:nth-of-type(1){animation:fadein-down .5s .2s ease both}
.sub-menu > .menu-item:nth-of-type(2){animation:fadein-down .7s .2s ease both}
.sub-menu > .menu-item:nth-of-type(3){animation:fadein-down .9s .2s ease both}

@keyframes fadein-down{
	from{display:none;opacity:0;transform:translateY(-10px)}
	to{display:block;opacity:1;transform:translateY(0)}
	}

.sub-menu > .menu-item > a{background:white;color: black;border-bottom:2px solid black;}



.sub-menu > .menu-item > a:before
	{background:#FF3D2E;top:0;color: white}

.menu > ol:first-child > .menu-item:nth-of-type(2) > .sub-menu > .menu-item > a:before{transform:rotateY(-90deg) translate3d(0,0,75px)}
.menu > ol:first-child > .menu-item:nth-of-type(2) > .sub-menu > .menu-item:nth-of-type(1) > a:before{content:"Android"}
.menu > ol:first-child > .menu-item:nth-of-type(2) > .sub-menu > .menu-item:nth-of-type(2) > a:before{content:"Cascade"}
.menu > ol:first-child > .menu-item:nth-of-type(2) > .sub-menu > .menu-item:nth-of-type(3) > a:before{content:"Programming"}
.menu > ol:first-child > .menu-item:nth-of-type(2) > .sub-menu > .menu-item:nth-of-type(4) > a:before{content:"Networking"}
.menu > ol:first-child > .menu-item:nth-of-type(2) > .sub-menu > .menu-item:nth-of-type(5) > a:before{content:"Cultural"}
.menu > ol:first-child > .menu-item:nth-of-type(2) > .sub-menu > .menu-item:nth-of-type(6) > a:before{content:"DBMS"}
.menu > ol:first-child > .menu-item:nth-of-type(2) > .sub-menu > .menu-item:nth-of-type(7) > a:before{content:"BluePrint"}
.menu > ol:first-child > .menu-item:nth-of-type(2) > .sub-menu > .menu-item:nth-of-type(8) > a:before{content:"A.I"}
.menu > ol:first-child > .menu-item:nth-of-type(2) > .sub-menu > .menu-item:nth-of-type(9) > a:before{content:"Aperture"}
.menu > ol:first-child > .menu-item:nth-of-type(2) > .sub-menu > .menu-item:nth-of-type(10) > a:before{content:"HVCO"}
.menu > ol:first-child > .menu-item:nth-of-type(2) > .sub-menu > .menu-item:hover > a{transform:rotateY(90deg)}

.menu > ol:first-child > .menu-item:nth-of-type(3) > .sub-menu > .menu-item > a:before{transform:rotateY(-90deg) translate3d(0,0,75px)}
.menu > ol:first-child > .menu-item:nth-of-type(3) > .sub-menu > .menu-item:nth-of-type(1) > a:before{content:"Vision and Mission"}
.menu > ol:first-child > .menu-item:nth-of-type(3) > .sub-menu > .menu-item:nth-of-type(2) > a:before{content:"Founder President's Message"}
.menu > ol:first-child > .menu-item:nth-of-type(3) > .sub-menu > .menu-item:nth-of-type(3) > a:before{content:"Vice Chancelor's Message"}
.menu > ol:first-child > .menu-item:nth-of-type(3) > .sub-menu > .menu-item:nth-of-type(4) > a:before{content:"Director's Message"}
.menu > ol:first-child > .menu-item:nth-of-type(3) > .sub-menu > .menu-item:nth-of-type(5) > a:before{content:"Club President's Message"}

.menu > ol:first-child > .menu-item:nth-of-type(3) > .sub-menu > .menu-item:hover > a{transform:rotateY(90deg)}
.menu > ol:first-child > .menu-item:hover > .sub-menu{display:block}
.dot {
  height: 55px;
  width: 55px;
  background-color:white;
  border-radius: 50%;
  display: inline-block;
    border:1px solid grey;
}
.dot:hover{border-color: black;cursor: pointer;}

.dot2 {
  height: 65px;
  width: 65px;
  background-color:white;
  border-radius: 50%;
  display: inline-block;
    border:1px solid grey;
}
.dot2:hover{border-color: black;cursor: pointer;}
.mycontainer{width: 100%;

    margin-left: auto;
    margin-right: auto;
}
.myrow{display: flex;
    flex-wrap:wrap;

    margin-bottom: -22px;
  
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

@media screen and (max-width: 2018px) {
  .p-logo {
    height: 200px;width: 320px;
  }
}

@media screen and (max-width: 610px) {
  .p-logo {
    height: 180px;width: 300px;
  }
}
@media screen and (max-width: 490px) {
  .p-logo {
  height: 160px;width: 280px;
  }
}
@media screen and (max-width: 350px) {
  .p-logo {
     height: 120px;width: 200px;
  }
}


@media screen and (max-width: 2018px) {
  .p-logo2 {
    height: 320px;width: 320px;
  }
}

@media screen and (max-width: 610px) {
  .p-logo2 {
    height: 290px;width: 290px;
  }
}
@media screen and (max-width: 490px) {
  .p-logo2 {
  height: 280px;width: 280px;
  }
}
@media screen and (max-width: 350px) {
  .p-logo2 {
     height: 200px;width: 200px;
  }
}
@media screen and (max-width: 350px) {
  .top-icon {
     display: none;
  }
}
#loading {
    background: url('../images/giphy%20(2).gif') no-repeat center center;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}

.dot2 {
  height: 65px;
  width: 65px;
  background-color:white;
  border-radius: 50%;
  display: inline-block;
    border:1px solid grey;
}
.dot2:hover{border-color: black;cursor: pointer;}